<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body bgcolor="#faebd7">

    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    <br><br><br>
        <table border="1" bgcolor="#a9a9a9">
            <tr>
                <td><h3>MPs Name</h3></td>
                <td><h3>Constituency</h3></td>
                <td><h3>State</h3></td>
            </tr>
            {% for obj in filter %}
            <tr>
                <td>{{ obj.name_of_member }}</td>
                <td>{{ obj.constituency }}</td>
                <td>{{ obj.state }}</td>
            </tr>
            {% endfor %}
        </table>
</body>
</html>